@model List<Concert>

@{
    ViewData["Title"] = "Home Page";
}

<div class="s1">
    <div class="container">
        <h5 class="text-white">Поиск концертов</h5>
        <form>
            <div class="row">

                <div class="col-md-10 marT">
                    <input class="col-md-12" placeholder="Поиск концерта по названию, исполнителю...">
                    <div>
                        <select class="select col-md-4" id="type_concert" name="type_concert"
                                asp-items="@ViewData["ListCT"] as SelectList"></select>
                        <select class="select col-md-4" id="sort_concert" name="sort_concert">
                            <option value="0">Сортировать по...</option>
                            <option value="1">Дата (по возрастанию)</option>
                            <option value="2">Дата (по убыванию)</option>
                            <option value="3">Исполнитель (по возрастанию)</option>
                            <option value="4">Исполнитель (по убыванию)</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2 marT">
                    <input type="submit" value="Поиск" data-wait="Please wait..." class="green-button">
                </div>

            </div>

        </form>
        <a href="#" class="link-dark">Поиск мероприятий на карте...</a>
    </div>
</div>

<div class="s2">
    <div class="container">
        <div class="row">
            <h5 class="col-md-12">Концерты и мероприятия</h5>
            @foreach (var item in Model)
            {
                @if (item != null)
                {
                    <div class="block col-lg-2 col-md-3 col-sm-6">
                        <div class="concert-block shadow">
                            <div class="image-block">
                                <a asp-action="Index" asp-controller="ConcertInfo" asp-route-concert="@item">
                                    <img class="card-img-top" src="images/@item.Image" />
                                </a>

                            </div>
                            <div class="text-block text-center">
                                <div class="cen">
                                    <a class="link-dark"
                                       asp-action="Index" asp-controller="ConcertInfo" asp-route-concert="@item">
                                        @item.Singer
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="green-button link-btn"
                                   asp-action="Index" asp-controller="ConcertInfo" asp-route-concert="@item">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>

    </div>
</div>
