@model PresentationLayer.Models.ConcertViewModel
@using DataLayer.Entityes;

<div class="s1">
    <div class="container">
        <h5 class="text-white">Режим редактирования @Model.Singer</h5>
    </div>
</div>

<div class="s2">
    <div class="container">

        @using (Html.BeginForm("EditInfoAboutConcert", "ConcertInfo", FormMethod.Post))
        {
            <fieldset>
                <div class="row">
                    
    @*---ОБЩАЯ ИНФОРМАЦИЯ ДЛЯ ВСЕХ КОНЦЕРТОВ---*@
                    <div class="col-md-2 col-sm-3">
                        <img class="card-img-top" src="images/@Model.Image" />
                        <a href="">изменить изображение</a>
                    </div>
                    <div class="col-md-10 col-sm-8">
                        @Html.HiddenFor(m => m.Id)
                        <div class="row">
                            <p class="col-md-3">Певец</p>
                            <p class="col-md-9">@Html.EditorFor(m => m.Singer)</p>
                        </div>
                        <div class="row">
                            <p class="col-md-3">Место проведения</p>
                            <p class="col-md-9">@Html.EditorFor(m => m.Place)</p>
                        </div>
                        <div class="row">
                            <p class="col-md-3">Дата проведения</p>
                            <p class="col-md-9">@Html.EditorFor(m => m.DateConcert)</p>
                        </div>
                        @Html.HiddenFor(m => m.Image)
                        <div class="row">
                            <p class="col-md-3">Примечание</p>
                            <p class="col-md-9">@Html.TextAreaFor(m => m.InfoAboutTypeConcert.Note, new { @class = "form-control", @rows = 5 })</p>
                        </div>
                        @Html.HiddenFor(m => m.Tickets)
                        @*---ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ О КОНЦЕРТАХ В ЗАВИСИМОСТИ ОТ ТИПА---*@
                        @if (Model.InfoAboutTypeConcert is ClassicMusic)
                        {
                            @Html.HiddenFor(m => m.InfoAboutTypeConcert.Id)
                            <div class="row">
                                <p class="col-md-3">Название концерта</p>
                                <p class="col-md-9">@Html.EditorFor(m => ((ClassicMusic)m.InfoAboutTypeConcert).NameConcert)</p>
                            </div>
                            <div class="row">
                                <p class="col-md-3">Композитор</p>
                                <p class="col-md-9">@Html.EditorFor(m => ((ClassicMusic)m.InfoAboutTypeConcert).Composer)</p>
                            </div>
                            @Html.HiddenFor(m => ((ClassicMusic)m.InfoAboutTypeConcert).VoiceType)
                        }
                        @if (Model.InfoAboutTypeConcert is Party)
                        {
                            @Html.HiddenFor(m => m.InfoAboutTypeConcert.Id)
                            <div class="row">
                                <p class="col-md-3">Возрастной ценз</p>
                                <p class="col-md-9">@Html.EditorFor(m => ((Party)m.InfoAboutTypeConcert).Age)</p>
                            </div>
                        }
                        @if (Model.InfoAboutTypeConcert is OpenAir)
                        {
                            @Html.HiddenFor(m => m.InfoAboutTypeConcert.Id)
                            <div class="row">
                                <p class="col-md-3">Хэдлайнер</p>
                                <p class="col-md-9">@Html.EditorFor(m => ((OpenAir)m.InfoAboutTypeConcert).Headliner)</p>
                            </div>
                            <div class="row">
                                <p class="col-md-3">Как проехать</p>
                                <p class="col-md-9">@Html.EditorFor(m => ((OpenAir)m.InfoAboutTypeConcert).HowToGetThere)</p>
                            </div>
                        }
                    </div>

                    <p>
                        <input type="submit" value="Сохранить" class="green-button" 
                               asp-action="EditConcert" asp-controller="ConcertInfo" asp-route-c="@Model" />
                    </p>
                </div>
            </fieldset>
         }
    </div>
</div>
